@import "include/normalize";
@import "include/fonts";
@import "include/vars";
@import "include/sprite";

$bg-color: #323b44;
$block-color: #364049;
$button-color: #375a7f;
$button-color-active: #34516e;
$on-color: #08b93e;
$off-color: #c73030;
$button-width: 70px;
$button-height: 45px;

* {
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
html {
	font-size: 10px;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
	user-select: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	line-height: 1;
	position: relative;
	background-color: $bg-color;
}
.v-align {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    white-space: nowrap;
}
.v-align>div {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    white-space: normal;
}
.v-align:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    font-size: 0;
}
.values,
.controls {
	position: relative;
	background-color: $block-color;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
}
.div_100,
.control_btn,
.control_slider {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.controls_line {
	transition: transform 0.3s ease;
}
.control_screen {
	position: absolute;
	left: 100%;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	&.home {
		left: 0;
	}
}
.values+.controls {
	margin-top: 30px;
}
.control_screen_table {
	width: 100%;
	height: 100%;
	display: table;
	touch-action: pan-y;
}
.control_screen_cell {
	display: table-cell;
	vertical-align: middle;
}
.control_row {
	position: relative;
	height: $button-height;
	+.control_row {
		margin-top: 10px;
	}
}
.control_part {
	position: absolute;
	top: 0;
	height: 100%;
	&.left {
		left: 0;
		right: $button-width;
		margin-right: 10px;
	}
	&.right {
		right: 0;
		width: $button-width;
	}
}
.control_title {
	position: absolute;
	left: 0;
	width: 100%;
	top: 50%;
	margin-top: -0.5em;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	pointer-events: none;
	opacity: 0.2;
	z-index: 1;
	.home & {
		opacity: 1;
	}
	&.small {
		font-size: 6px;
		top: 85%;
		opacity: 0.7;
	}
}
.control_btn {
	.title {
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		text-align: center;
		margin-top: -0.5em;
		line-height: 1;
		font-size: 16px;
		text-transform: uppercase;
		pointer-events: none;
		.values & {
			font-weight: 300;
			opacity: 0.9;
		}
	}
	&.save_btn .title {
		font-size: 12px;
	}
	&.mode_btn {
		&:after {
			content: '';
			position: absolute;
			top: 35%;
			left: 50%;
			width: 30px;
			height: 14px;
			margin: -7px -15px;
			border-radius: 5px;
			transition: background-color 0.3s ease;
			background-color: $on-color;
		}
		.title {
			font-size: 10px;
			top: 77%;
		}
	}
}
.control_slider {
	transition: opacity 0.3s ease;
	.control_slider_size {
		position: relative;
		margin-right: $button-width;
		height: 100%;
	}
	.control_btn {
		width: $button-width;
	}
}
.bg-before-bg,
.bg-before-border {
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 5px;
	}
	&.active_style {
		cursor: pointer;
	}
}
.bg-before-bg {
	&:before {
		background-color: $button-color;
	}
	&.active_style {
		&:before {
			transition: background-color 0.1s ease;
		}
		&:active,
		&.moving {
			&:before {
				background-color: $button-color-active;
			}
		}
	}
}
.bg-before-border {
	&:before {
		border: 1px solid $button-color;
	}
	&.active_style {
		&:before {
			transition: border-color 0.1s ease;
		}
		&:active,
		&.moving {
			&:before {
				border-color: $button-color-active;
			}
		}
	}
}
.header_button {
	position: absolute;
	cursor: pointer;
	top: 0;
	width: 50px;
	height: 50px;
	z-index: 10;
	&.mute,
	&.reboot {
		&:before {
			transition: opacity 0.1s;
			opacity: 0.5;
		}
		&:active:before {
			opacity: 1;
		}
	}
	&.mute {
		right: 0;
		@include sprite-mute($before: true);
	}
	&.reboot {
		right: 50px;
		@include sprite-reboot($before: true);
	}
	&.preferences {
		left: 0;
		@include sprite-preferences($before: true);
		@include sprite-close($after: true);
		&:before,
		&:after {
			transition: opacity 0.3s;
			opacity: 0;
		}
	}
}

.control_preferences {
	opacity: 0;
	pointer-events: none;
	z-index: 1;
	background-color: $block-color;
	transition: opacity 0.3s ease;
	.item {
		position: relative;
		float: left;
		height: 100%;
		overflow: hidden;
	}
}
input {
	background: none;
	color: #fff;
	border: none;
	font-family: 'Roboto', sans-serif;
	outline: none;
	box-sizing: border-box;
	font-size: 16px;
	text-align: center;
}
.control {
	&.off {
		.control_slider {
			opacity: 0;
		}
		.mode_btn:after {
			background-color: $off-color;
		}
	}
	&.auto {
		.control_slider {
			opacity: 0.5;
			.control_btn {
				transition: left 0.3s ease;
			}
		}
	}
	&.on {
		.control_slider {
			opacity: 1;
		}
	}
}
#app {
	overflow: hidden;
	&.page--active {
		.controls_line {
			transform: translate(-100%);
		}
		.header_button.preferences {
			&:before {
				opacity: 0.5;
			}
		}
		&.preferences--active {
			.header_button.preferences {
				&:before {
					opacity: 0;
				}
				&:after {
					opacity: 0.5;
				}
			}
		}
	}
	&.preferences--active {
		.control_preferences {
			opacity: 1;
			pointer-events: auto;
		}
	}
}