doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1")
    meta(name="theme-color", content="#323b44")
    title homeControl
    link(rel="stylesheet", href="/web-interface/css/index.css")
  body(ontouchstart)
    #app.div_100(:class="[preferencesIsActive?'preferences--active':'', pageIsActive?'page--active':'']")
      .header_button.preferences(v-on:click="preferencesToggle()")
      .header_button.reboot(v-on:click="reboot()")
      .header_button.mute(v-on:click="muteLight()")
      .controls_line.div_100
        .control_screen.home
          .control_screen_table
            .control_screen_cell
              .controls
                .control_row.bg-before-bg.active_style(v-for="control_value, control_key in state", clickEvent="pageChange", :clickData="control_key")
                  .control_title(v-html="translate[control_key][lang]")
        .control_screen.page(v-if="page!=''")
          .control_screen_table
            .control_screen_cell
              .values(v-if="state[page].data")
                template(v-for="data_value, data_key in state[page].data")
                  v-data(:key="page+data_key" :data_value="data_value" :data_key="data_key" v-if="!data_key.endsWith('_state')")
              .controls
                .control_row.control(:class="control_value.type+' '+control_value.modes[control_value.mode]", :key="page+control_key", v-for="control_value, control_key in state[page].controls")
                  .control_part.left
                    .control_title(v-html="translate[control_key][lang]")
                    v-slider(:control_value="control_value", :control_key="control_key", v-if="control_value.type=='slider'")
                  .control_part.right
                    .control_btn.mode_btn.bg-before-bg.active_style(clickEvent="modeToggle", :clickData="control_key")
                      .title(v-html="translate[control_value.modes[control_value.mode]][lang]")
                  .control_preferences.div_100(v-if="control_value.preferences")
                    .control_part.left
                      .item.bg-before-border.active_style(:style="getPreferencesWidth(control_value.preferences)", v-for="preferences_value, preferences_key in control_value.preferences")
                        .control_title.small(v-html="preferences_key")
                        input.div_100(:type="getInputType(control_value.preferences[preferences_key])", v-model="control_value.preferences[preferences_key]")
                    .control_part.right
                      .control_btn.save_btn.bg-before-bg.active_style(v-on:click="savePreferences(control_key)")
                        .title(v-html="translate['save'][lang]")
    script.
      const state = !{state};
      const translate = !{translate};
      const port = #{port};
    script(src="/web-interface/js/libs/hammer.min.js")
    script(src="/web-interface/js/libs/vue.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js")
    script(src="/web-interface/js/libs/mqtt.min.js")
    script(src="/web-interface/js/components/v-slider.js")
    script(src="/web-interface/js/components/v-data.js")
    script(src="/web-interface/js/index.js")