%sprite {
	background-image: url('/web-interface/i/sprite.svg?v=1638244055');
	background-repeat: no-repeat;
	background-size: 0.1em * 58 0.1em * 58;
}
@mixin _sprite-icon_($x, $y, $width, $height, $after, $before, $left, $top, $right, $bottom, $font-size, $margin-top, $margin-bottom, $margin-left, $margin-right) {
	$x: 0.1em * $x;
	$y: 0.1em * $y;
	$width: 0.1em * $width;
	$height: 0.1em * $height;
	$pseudo: null;
	@if $after != null {
		$pseudo: after;
	} @else if $before != null {
		$pseudo: before;
	}
	@if $pseudo != null {
		&:#{$pseudo} {
			content: '';
			position: absolute;
			@extend %sprite;
			background-position: $x $y;
			width: $width;
			height: $height;
			font-size: $font-size;
			margin: -0.5*$height -0.5*$width;
			@if $right == auto {
				left: $left;
			} @else {
				right: $right;
			}
			@if $bottom == auto {
				top: $top;
			} @else {
				bottom: $bottom;
			}
			@if $margin-left != null {
				margin-left: $margin-left;
			} @else if $left == 0 {
				margin-left: 0;
			}
			@if $margin-right != null {
				margin-right: $margin-right;
			} @else if $right == 0 {
				margin-right: 0;
			}
			@if $margin-top != null {
				margin-top: $margin-top;
			} @else if $top == 0 {
				margin-top: 0;
			}
			@if $margin-bottom != null {
				margin-bottom: $margin-bottom;
			} @else if $bottom == 0 {
				margin-bottom: 0;
			}
		}
	} @else {
		@extend %sprite;
		background-position: $x $y;
		width: $width;
		height: $height;
		font-size: $font-size;
	}
}
@mixin sprite-close($after: null, $before: null, $left: 50%, $top: 50%, $right: auto, $bottom: auto, $font-size: 1rem, $margin-top: null, $margin-bottom: null, $margin-left: null, $margin-right: null) {
	@include _sprite-icon_(0, -32, 26, 25.969, $after, $before, $left, $top, $right, $bottom, $font-size, $margin-top, $margin-bottom, $margin-left, $margin-right);
}
@mixin sprite-mute($after: null, $before: null, $left: 50%, $top: 50%, $right: auto, $bottom: auto, $font-size: 1rem, $margin-top: null, $margin-bottom: null, $margin-left: null, $margin-right: null) {
	@include _sprite-icon_(0, 0, 30, 32, $after, $before, $left, $top, $right, $bottom, $font-size, $margin-top, $margin-bottom, $margin-left, $margin-right);
}
@mixin sprite-preferences($after: null, $before: null, $left: 50%, $top: 50%, $right: auto, $bottom: auto, $font-size: 1rem, $margin-top: null, $margin-bottom: null, $margin-left: null, $margin-right: null) {
	@include _sprite-icon_(-30, 0, 28, 28, $after, $before, $left, $top, $right, $bottom, $font-size, $margin-top, $margin-bottom, $margin-left, $margin-right);
}
@mixin sprite-reboot($after: null, $before: null, $left: 50%, $top: 50%, $right: auto, $bottom: auto, $font-size: 1rem, $margin-top: null, $margin-bottom: null, $margin-left: null, $margin-right: null) {
	@include _sprite-icon_(-26, -32, 24.062, 24.719, $after, $before, $left, $top, $right, $bottom, $font-size, $margin-top, $margin-bottom, $margin-left, $margin-right);
}
.sprite-close {
	@include _sprite-icon_(0, -32, 26, 25.969, null, null, 0, 0, 0, 0, 1rem, null, null, null, null);
}
.sprite-mute {
	@include _sprite-icon_(0, 0, 30, 32, null, null, 0, 0, 0, 0, 1rem, null, null, null, null);
}
.sprite-preferences {
	@include _sprite-icon_(-30, 0, 28, 28, null, null, 0, 0, 0, 0, 1rem, null, null, null, null);
}
.sprite-reboot {
	@include _sprite-icon_(-26, -32, 24.062, 24.719, null, null, 0, 0, 0, 0, 1rem, null, null, null, null);
}
